# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Scripts
*.sh text eol=lf

# Ignore files
.gitignore text eol=lf
.vcsignore text eol=lf
